<div class="container" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
  <img [src]="'https://image.tmdb.org/t/p/w500' + movieData.image" alt="movie" title={{movieData.name}} />
  <div class="hover" *ngIf="isHovered">
    <div class="image-video-container">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movieData.image"  title={{movieData.name}} alt="movie" (click)="handlePlayButtonClick()" />
    </div>
    <div class="info-container flex column">
      <h3 class="name" (click)="handlePlayButtonClick()">{{ movieData.name }}</h3>
      <div class="icons flex j-between">
        <div class="controls flex">
          <mat-icon title="play" (click)="handlePlayButtonClick()">play_circle_outline</mat-icon>
          <mat-icon title="like">thumb_up</mat-icon>
          <mat-icon title="dislike">thumb_down</mat-icon>
          <ng-container *ngIf="isLiked; else notLikedIcon">
            <mat-icon title="remove-icon" (click)="removeMovieFromLiked()">check</mat-icon>
          </ng-container>
          <ng-template #notLikedIcon>
            <mat-icon title="add-icon" (click)="addToList()">add</mat-icon>
          </ng-template>
        </div>
        <div class="info">
          <mat-icon title="more-info">expand_more</mat-icon>
        </div>
        <div class="genres flex">
          <ul class="flex">
            <li *ngFor="let genre of movieData.genres">{{ genre }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p class="success" *ngIf="addedToList">Added to My List</p>
  <p class="error" *ngIf="alreadyExists">Already in My List</p>
</div>
