<div>
    <app-card-slider title="New Releases" [data]="getMoviesFromRange(0, 10)"></app-card-slider>
    <app-card-slider title="Trending Now" [data]="getMoviesFromRange(10, 20)"></app-card-slider>
    <app-card-slider title="Blockbuster" [data]="getMoviesFromRange(20, 30)"></app-card-slider>
    <app-card-slider title="Popular On Netflix" [data]="getMoviesFromRange(30, 40)"></app-card-slider>
    <app-card-slider title="Classics" [data]="getMoviesFromRange(40, 50)"></app-card-slider>
    <app-card-slider title="Epics" [data]="getMoviesFromRange(50, 60)"></app-card-slider>
  </div>
   